/* Media Query for Mobile Devices */
        @media (max-width: 480px) {
            .aboutme{
                  margin-top: -135px;
            }
            .banner .banner-content-box h2{
                  font-size: 2rem;
            }
            .blog-box{
              margin-top: 2rem;
            }
            .contact form{
              margin-top: -2rem;
            }

            .blog-content-page{
              grid-row-gap: 10px;
              grid-template-columns: auto;
            }
            .page-menu a{
              font-size: 11px;
            }
            .page-menu .nav-item{
              padding: 0;
            }
            .page-main{
              padding-top: 1%;
            }
        }

        /* Media Query for low resolution  Tablets, Ipads */
        @media (min-width: 481px) and (max-width: 767px) {
          .banner .banner-content-box h2{
                font-size: 2.5rem;
          }

        }

        /* Media Query for Tablets Ipads portrait mode */
        @media (min-width: 768px) and (max-width: 1024px){
            

        }
